<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>products</key>
	<array>
		<dict>
			<key>id</key>
			<string>477F70B5-BD2D-48BC-B76A-3A7668B3E612</string>
			<key>name</key>
			<string>Apple</string>
			<key>price</key>
			<integer>3</integer>
			<key>details</key>
			<string>An apple a day keeps the doctor away.</string>
			<key>photoName</key>
			<string>apples</string>
		</dict>
		<dict>
			<key>id</key>
			<string>6545E878-C911-4829-B703-88D52DDB7E0B</string>
			<key>name</key>
			<string>Pear</string>
			<key>price</key>
			<integer>4</integer>
			<key>details</key>
			<string>Juicy and firm - just as you like it</string>
			<key>photoName</key>
			<string>pears</string>
		</dict>
		<dict>
			<key>id</key>
			<string>92E46D3E-BFC8-4277-8910-07D1C0945172</string>
			<key>name</key>
			<string>Banana</string>
			<key>price</key>
			<integer>5</integer>
			<key>details</key>
			<string>What an excellent source of potassium!</string>
			<key>photoName</key>
			<string>bananas</string>
		</dict>
		<dict>
			<key>id</key>
			<string>26BD8DD1-2377-4D11-BE0E-B16DD8B0BC1C</string>
			<key>name</key>
			<string>Cherries</string>
			<key>price</key>
			<integer>9</integer>
			<key>details</key>
			<string>Enjoy life that little bit more - with a cherry on top!</string>
			<key>photoName</key>
			<string>cherries</string>
		</dict>
		<dict>
			<key>id</key>
			<string>39B49B8B-D60C-4BC3-A6C7-BD7FBB67C963</string>
			<key>name</key>
			<string>Grapes</string>
			<key>price</key>
			<integer>6</integer>
			<key>details</key>
			<string>Fancy making wine? Or sultanas? You need to get yourself some grapes</string>
			<key>photoName</key>
			<string>grapes</string>
		</dict>
		<dict>
			<key>id</key>
			<string>DE73CFE0-74A0-11E6-BDF4-0800200C9A66</string>
			<key>name</key>
			<string>Berries</string>
			<key>price</key>
			<integer>9</integer>
			<key>details</key>
			<string>Great wtih your morning yogurt!</string>
			<key>photoName</key>
			<string>berries</string>
		</dict>
		<dict>
			<key>id</key>
			<string>F81C9170-74A0-11E6-BDF4-0800200C9A66</string>
			<key>name</key>
			<string>Lemon</string>
			<key>price</key>
			<integer>5</integer>
			<key>details</key>
			<string>She wore lemon but never in the daylight.</string>
			<key>photoName</key>
			<string>lemon</string>
		</dict>
		<dict>
			<key>id</key>
			<string>FC538460-74A0-11E6-BDF4-0800200C9A66</string>
			<key>name</key>
			<string>Limes</string>
			<key>price</key>
			<integer>2</integer>
			<key>details</key>
			<string>Great on tacos or your beer.</string>
			<key>photoName</key>
			<string>limes</string>
		</dict>
		<dict>
			<key>id</key>
			<string>009F85F3-74A1-11E6-BDF4-0800200C9A66</string>
			<key>name</key>
			<string>Peaches</string>
			<key>price</key>
			<integer>4</integer>
			<key>details</key>
			<string>Peaches come from a can. They were put there by a man in a factory downtown.</string>
			<key>photoName</key>
			<string>peaches</string>
		</dict>
	</array>
</dict>
</plist>
